.header{

    z-index: 3;
    position: relative;
    
    .header__inner{
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo{
        width: 161px;
        height: 40px;
        background: rgba(196, 196, 196, 1);
    }

    &__nav{
        display: flex;
        gap: 45px;
        align-items: center;
    }


}
    
    