$primary-color-blue: rgba(27, 95, 193, 1);
$primary-color-yellow: var(--accent, rgba(255, 184, 0, 1));


$font-family-main: 'Open Sans', sans-serif;
$font-family-alt: 'Rubik', sans-serif;

$color-text-main:  var(--Grey, rgba(87, 92, 116, 1));
$color-text-title: #0c122d;


$container-width: 1140px;

$bp-md: 768px;
$bp-lg: 1200px;